<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rian.myproject">

    <!-- Permissions -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlixFlex"
        tools:targetApi="31">
        <meta-data android:name="main_id" android:value="91" />
        <activity
            android:name=".MainActivity2"
            android:configChanges="orientation|screenSize"
            android:exported="true">
        </activity>
        <activity
            android:name=".PrivacyActivity"
            android:exported="false"/>
        <activity
            android:name=".ProfileActivity"
            android:exported="false"/>

        <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9777034540867573~9744938716"/>
        <service
            android:name=".ClassesUtils.ClosingService"
            android:stopWithTask="false" />
        <activity
            android:name=".Series.Detail.DetailSerieActivity"
            android:exported="false" />
        <activity
            android:name=".Movies.Detail.DetailMovieActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Connection.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Connection.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <activity
            android:name=".ActivityAll"
            android:exported="false" />
        <activity
            android:name=".ActivityFibonancci"
            android:exported="false" />
        <activity
            android:name=".ActivityHallo"
            android:exported="false" />
        <activity
            android:name=".ActivityScroll"
            android:exported="false" />
        <activity
            android:name=".FirstActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true" />

    </application>

</manifest>